@media screen {
	.wrap-tree {
		&.show {
			ul {
				 display: block !important;
			}
			li {
				.text {
					.checkbox {
						display: inline-block;
					}
					.fa {
						display: none;
					}
				}	
			}
		}

		.title-tree {
			color: #3d3d3d;
			font-size: 15px;
			font-weight: 400;
			margin-bottom: 8px;
			display: block;
		}
	}

	.list-tree {
		padding: 0;
		margin: 0;
		position: relative;

		li {
			display: block;
			color: #2d2d2d;
			font-size: 14px;
			font-weight: 600;
			margin-bottom: 10px;
			position: relative;

			ul {
				display: none;
				z-index: 0;
			}

			&:before {
				content: '';
				width: 1px;
				height: 100%;
				top: 0;
				left: -15px;
				position: absolute;
				background: #d0d0d0;
				z-index: 0;
			}

			&:last-child {
				&:before {
					display: none;
				}
			}

			.text {
				border: 1px solid #ccc;
				border-radius: 4px;
				padding: 7px 15px 7px;
				display: inline-block;
				background: white;
				position: relative;
				z-index: 1;
				cursor: pointer;
				font-size: 14px;
				&:hover, &.active {
					background: #f3f3f3;
				}

				.checkbox {
					display: inline-block;
					min-height: 0;
					position: relative;
					top: 2px;
					margin-right: 5px;
					display: none;
				}
			}

			.text-idioma {
				.fa {
					display: inline-block !important;
				}	
			}

			.text-select {
				background: none;
				padding: 0;
				select {
					background: white;
					border: none;
					padding: 0 12px;
				}
			}

			.arq {
				color: #67afe9;
			}
			.fa {
				margin-right: 5px;
				display: inline-block;
			}
			.type {
				color: #acadae;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 400;
				padding: 0 5px;
			}
			> ul {
				padding-top: 10px;
				padding-left: 30px;
				position: relative;

				.text {
					&:before {
						content: '';
						width: 1px;
						height: 200%;
						top: -16px;
						left: -16px;
						position: absolute;
						background: #d0d0d0;
						z-index: 0;
					}
					
					&:after {
						content: '';
						width: 14px;
						height: 1px;
						top: 50%;
						left: -15px;
						position: absolute;
						background: #d0d0d0;
						z-index: 0;
					}
				}

				> li {
					&:last-child {
						margin-bottom: 0;	
					}
					.newDownload {
						opacity: 0;
					}

					&:hover {
						.newDownload {
							opacity: 1;
						}
					}
				}

				li {
					&:last-child {
						> .text {
							&:before { 
								height: 100%;
							}	
						}
						
					}
				}
			}
		}
		> li {
			&:before {
				left: 15px;
				top: 13px;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}